<!DOCTYPE html>
<html>

<body>
    <h2><!--{{STATUS}}--></h2>
    <ul>
        <li><em><!--{{NEW_CASES}}--></em> Нови случаи. Които се равняват на <b><em><!--{{NEW_CASES_PERC}}-->%</em></b> от направените за деня тестове.</li>
        <li><em><!--{{TESTS_OVERALL}}--></em> <!--{{TESTS_LABLE}}--> <b><em></em><!--{{TESTS_VALUE}}--></b> <!--{{TESTS_SUBLABLE}}-->.
        </li>
        <li><em><!--{{COVID_OVERALL_CONFIRMED_VALUE}}--></em> <!--{{COVID_OVERALL_LABLE}}-->, <b><em><!--{{COVID_OVERALL_VALUE}}--></em></b> <!--{{COVID_OVERALL_SUBLABLE}}-->.</li>
        <li><em><!--{{HEALDED_VALUE_OVERALL}}--></em> <!--{{HEALDED_LABLE}}-->, <b><em><!--{{HEALDED_VALUE}}--></em></b> <!--{{HEALDED_SUBLABLE}}-->.</li>
        <li><em><!--{{HOSPITALIZED_VALUE_OVERALL}}--></em> <!--{{HOSPITALIZED_LABLE}}-->, <b><em><!--{{HOSPITALIZED_VALUE}}--></em></b> <!--{{HOSPITALIZED_SUBLABLE}}-->.</li>
        <li><em><!--{{DEATHS_VALUE_OVERALL}}--></em> <!--{{DEATHS_LABLE}}-->, <b><em><!--{{DEATHS_VALUE}}--></em></b> <!--{{DEATHS_SUBLABLE}}-->.</li>
        <li><em><!--{{VACCINE_VALUE_OVERALL}}--></em> <!--{{VACCINE_LABLE}}-->, <b><em><!--{{VACCINE_VALUE}}--></em></b> <!--{{VACCINE_SUBLABLE}}-->.</li>
        <li><em><!--{{VACCINATED_VALUE_OVERALL}}--></em> <!--{{VACCINATED_LABLE}}-->, <b><!--{{VACCINATED_VALUE}}--></b> <!--{{VACCINATED_SUBLABLE}}-->.</li>
        <li><em><!--{{NEWLY_HOSPITALIZED_DAY_VALUE}}--></em> <!--{{NEWLY_HOSPITALIZED_LABLE}}--> <b><!--{{NEWLY_HOSPITALIZED_SUBVALUE}}--></b> <!--{{NEWLY_HOSPITALIZED_SUBLABLE}}-->.</li>
        <h3>*Ваксинирани са всички лица със <b><em>завършен</em></b> ваксинационен курс.</h3>
    </ul>

    <!--{{OTHER}}-->

</body>
</html>
